<svg style="height: 440px;position: absolute;top: 8px;" id="filterSvg">
</svg>
<ul style="position: absolute;top: 8px;">
    <li class="flex">
        <span type="checkbox" class="checkbox" name="sphase" ></span>
        <span class="checkname" title="Start Phase">{{'Start Phase'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="mphase" ></span>
        <span class="checkname" title="Middle Phase">{{'Middle Phase'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="ephase" ></span>
        <span class="checkname" title="End Phase">{{'End Phase'|T}}</span>
    </li>

    <li class="flex">
        <span type="checkbox" class="checkbox" name="game1" ></span>
        <span class="checkname" title="Game1">{{'Game1'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="game2" ></span>
        <span class="checkname" title="Game2">{{'Game2'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="game3" ></span>
        <span class="checkname" title="Game3">{{'Game3'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="game4" ></span>
        <span class="checkname" title="Game4">{{'Game4'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="game5" ></span>
        <span class="checkname" title="Game5">{{'Game5'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="game6" ></span>
        <span class="checkname" title="Game6">{{'Game6'|T}}</span>
    </li>

    <li class="flex">
        <span type="checkbox" class="checkbox" name="Awin"  ></span>
        <span class="checkname" title="Player1 wins">{{'Player1 wins'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="Bwin" ></span>
        <span class="checkname" title="Player2 wins">{{'Player2 wins'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="Aleads" ></span>
        <span class="checkname" title="Player1 at Advantage">{{'Player1 at Advantage'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="Bleads" ></span>
        <span class="checkname" title="Player2 at Advantage">{{'Player2 at Advantage'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="draw" ></span>
        <span class="checkname" title="Draw">{{'Draw'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="Aserve" ></span>
        <span class="checkname" title="Player1 serve">{{'Player1 serve'|T}}</span>
    </li>
    <li class="flex">
        <span type="checkbox" class="checkbox" name="Bserve" ></span>
        <span class="checkname" title="Player2 serve">{{'Player2 serve'|T}}</span>
    </li>
</ul>
