<div class="view-heading">
  <div class="view-title"><span>{{'Tactic View'|T}}</span></div>
  <div class="btn-group">

    <div class="dropdown">
      <button type="button" class="btn switchBtn dropdown-toggle" id="dropdownMenu1" style="width: 100px" data-toggle="dropdown">{{'Tech-Pla-Pos'|T}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownOptions">
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown1Option1" style="width: 100px">{{'Tech'|T}}</button>
        </li>
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown1Option2" style="width: 100px">{{'Tech-Pla'|T}}</button>
        </li>
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown1Option3" style="width: 100px">{{'Tech-Pla-Pos'|T}}</button>
        </li>
      </ul>
    </div>


    <div class="dropdown">
      <button type="button" class="btn switchBtn dropdown-toggle" id="dropdownMenu2" style="width: 95px" data-toggle="dropdown">5+
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownOptions">
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown2Option1" style="width: 95px">123</button>
        </li>
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown2Option2" style="width: 95px">234</button>
        </li>
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown2Option3" style="width: 95px">5 +</button>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button type="button" class="btn switchBtn dropdown-toggle" id="dropdownMenu3" style="width: 95px" data-toggle="dropdown">{{'P1'|T}}
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownOptions">
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown3Option1" style="width: 95px">{{'P1'|T}}</button>
        </li>
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown3Option2" style="width: 95px">{{'P2'|T}}</button>
        </li>
        <li role="presentation">
          <button type="button" class="btn switchBtn" id="dropdown3Option3" style="width: 95px">{{'P1-P2'|T}}</button>
        </li>
      </ul>
    </div>
  </div>

</div>
<div class="view-body">
  <svg id="tacticView-SVG"></svg>
</div>
